
@{
    ViewBag.Title = "ANASAYFA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row home-content__main">

    <div class="col-eight home-content__text pull-right">
        <h3>MYSIA OLYMPOS HOTEL</h3>

        <h1>
            Doğada bir mola.
        </h1>
        <h3>İLETİŞİM Numaramız : <a href="tel:+905334604811"><i class="fa fa-arrow-circle-right"></i> 0533 460 48 11 <i class="fa fa-phone"></i> <i class="fa fa-arrow-circle-left"></i></a></h3>
        <div class="home-content__subscribe">
            <a href="https://yandex.com.tr/navi/-/CCUm6YHX0B" target="_blank" class="btn-yandex">YANDEX MAP <img src="~/Content/navigation.png" /></a>
            <a href="https://goo.gl/maps/2HvUbhcxRNRVEBA97" target="_blank" class="btn-google">GOOGLE MAP <img src="~/Content/navigation.png" /></a>
        </div>
    </div>  <!-- end home-content__text -->

    <div class="col-four home-content__counter">
        <img src="~/Content/mysia_otel_logo.png" />
    </div>  <!-- end home-content__counter -->

</div>